@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
$primary-color: #313375;
$base-color: rgb(255, 255, 255);
$highlight-color: #ffc938;
$about-color: #666bd0;
$height: 100vh;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .navbar {
    font-weight: 400;
    font-family: "Shippori Antique B1", sans-serif;
    padding: 1rem 1rem;
    background-color: white;
    height: 16vh;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .navbar a {
    color: #313375;
    text-decoration: none;
  }
  .nav-link:hover{
    color: $highlight-color;
  }
  
  .highlight {
    color: #ffc938;
    font-weight: 600;
  }

//about Section
.about_main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .about{
        display: flex;
        flex-direction: column;
        color: white;
        padding: 1rem;
        width: 70%;
        height: 80%;
        border-radius: 2rem;
        background-color: $about-color;
        h1{
            flex: 1;
            text-align: center;
            font-weight: 600;
            font-size: 3rem;
        }
        .content{
            display: flex;
            flex: 2;
            .left{
               flex: 1; 
               .phomto{
                   width: 50%;
                   height: 90%;
                   background-color: $primary-color;
                   margin: auto;
                   border-radius: 2rem;
               }
            }
            .right{
                padding: 0.5rem;
                flex: 1;
                .first_para{
                    font-weight: 400;
                    font-size: 1.2rem;
                }
                .second_para{
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
.footer {
    width: 100%;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    height: 4vh;
    font-size: 0.8rem;
    font-family: "Shippori Antique B1", sans-serif;
}

@media only screen and (max-width: 400px){
  
}