@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
$primary-color: #313375;
$base-color: rgb(255, 255, 255);
$highlight-color: #ffc938;
$about-color: #666bd0;
$hover-highlight: #ffd86c;
$hover-main: #292a61;
$height: 100vh;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $about-color;
}

//navbar
.navbar {
    background-color: $about-color;
    font-weight: 400;
    font-family: "Shippori Antique B1", sans-serif;
    padding: 1rem 1rem;
    height: 16vh;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: $highlight-color;
}

.highlight {
    color: $highlight-color;
    font-weight: 600;
}

// home page
.main-header {
    color: $primary-color;
    height: $height;
    font-family: "Shippori Antique B1", sans-serif;
    height: 80vh;
}

.main_header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main_header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    .upper_font {
        font-size: 2.5rem;
    }
    .lower_font {
        font-size: 1rem;
    }
}

.main_button {
    margin-top: 2rem;
    color: $primary-color;
    background-color: $highlight-color;
    border: none;
    width: 60%;
    border-radius: 10px;
}
.main_button:hover {
    background-color: #ffd86c;
    color: #292a61;
}

.footer {
    width: 100%;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    height: 4vh;
    font-size: 0.8rem;
    div {
        background-color: $primary-color;
    }
}

//Weather page
.weather-head {
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .w_upper_font {
        font-size: 3rem;
        font-weight: 400;
        color: white;
    }
    .w_lower_font {
        font-size: 1rem;
        color: white;
    }
}
.weather-second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
    .temp_form {
        flex: 1;
        position: relative;
        width: 40%;
        #cityName {
            margin-top: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            width: 100%;
            border: 1px solid $primary-color;
            background-color: white;
        }
        #subButton {
            margin-top: 1rem;
            width: auto;
            height: fit-content;
            position: absolute;
            top: 3px;
            right: 3px;
            padding: 0.4rem;
            background-color: $highlight-color;
            color: $primary-color;
            border: none;
            border-radius: 0.5rem;
        }
        #subButton:hover {
            background-color: #ffd86c;
            color: #292a61;
        }
    }
    .temp_info {
        width: 40%;
        border: 0.5px solid $primary-color;
        flex: 3;
        border-radius: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        .top_layer {
            color: $highlight-color;
            font-size: 1.2rem;
            font-weight: 600;
            flex: 1;
            background-color: $primary-color;
            border-radius: 1rem 1rem 0 0;
            padding: 0.5rem 1rem 0 1rem;
            display: flex;
            flex-direction: row;
            p:first-child {
                background-color: $primary-color;
                margin-right: auto;
            }
            #date {
                background-color: $primary-color;
            }
        }
        .middle_layer {
            background-color: $primary-color;
            color: white;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            flex: 10;
            .top_layer_of_middle {
                font-weight: 400;
                background-color: $primary-color;
                #outputCity {
                    background-color: $primary-color;
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    font-size: 2rem;
                }
                .wind {
                    background-color: $primary-color;
                    font-size: 1rem;
                    margin: auto;
                }
            }
            .main_layer {
                flex: 5;
                background-color: $primary-color;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }
            .left {
                background-color: $primary-color;
                display: flex;
                flex-direction: row;
                flex: 1;
                font-size: 1rem;
                margin-left: 3rem;
                sup {
                    background-color: $primary-color;
                }
            }
            .right {
                background-color: $primary-color;
                font-size: 1rem;
                flex: 1;
                #pressure {
                    background-color: $primary-color;
                }
                #humidity {
                    background-color: $primary-color;
                }
                #feelsLike {
                    background-color: $primary-color;
                }
            }
            #temp {
                background-color: $primary-color;
                color: $highlight-color;
                font-size: 2rem;
            }
            .temp {
                background-color: $primary-color;
                color: $highlight-color;
                font-size: 2rem;
            }
            .temp_status {
                background-color: $primary-color;
                margin-left: 1rem;
                font-size: 2rem;
            }
        }
    }
}

//Extra Classes
.data-hide {
    visibility: hidden;
}

.ranchi {
    background-color: $primary-color;
    margin-left: 3rem;
}

.bg{
    background-color: $primary-color;
}
