@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #666bd0;
}

.navbar {
  background-color: #666bd0;
  font-weight: 400;
  font-family: "Shippori Antique B1", sans-serif;
  padding: 1rem 1rem;
  height: 16vh;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffc938;
}

.highlight {
  color: #ffc938;
  font-weight: 600;
}

.main-header {
  color: #313375;
  height: 100vh;
  font-family: "Shippori Antique B1", sans-serif;
  height: 80vh;
}

.main_header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.main_header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
}

.main_header_left .upper_font {
  font-size: 2.5rem;
}

.main_header_left .lower_font {
  font-size: 1rem;
}

.main_button {
  margin-top: 2rem;
  color: #313375;
  background-color: #ffc938;
  border: none;
  width: 60%;
  border-radius: 10px;
}

.main_button:hover {
  background-color: #ffd86c;
  color: #292a61;
}

.footer {
  width: 100%;
  background-color: #313375;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem;
  height: 4vh;
  font-size: 0.8rem;
}

.footer div {
  background-color: #313375;
}

.weather-head {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-head .w_upper_font {
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.weather-head .w_lower_font {
  font-size: 1rem;
  color: white;
}

.weather-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

.weather-second .temp_form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  width: 40%;
}

.weather-second .temp_form #cityName {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid #313375;
  background-color: white;
}

.weather-second .temp_form #subButton {
  margin-top: 1rem;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 0.4rem;
  background-color: #ffc938;
  color: #313375;
  border: none;
  border-radius: 0.5rem;
}

.weather-second .temp_form #subButton:hover {
  background-color: #ffd86c;
  color: #292a61;
}

.weather-second .temp_info {
  width: 40%;
  border: 0.5px solid #313375;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-second .temp_info .top_layer {
  color: #ffc938;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #313375;
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.weather-second .temp_info .top_layer p:first-child {
  background-color: #313375;
  margin-right: auto;
}

.weather-second .temp_info .top_layer #date {
  background-color: #313375;
}

.weather-second .temp_info .middle_layer {
  background-color: #313375;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.weather-second .temp_info .middle_layer .top_layer_of_middle {
  font-weight: 400;
  background-color: #313375;
}

.weather-second .temp_info .middle_layer .top_layer_of_middle #outputCity {
  background-color: #313375;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  font-size: 2rem;
}

.weather-second .temp_info .middle_layer .top_layer_of_middle .wind {
  background-color: #313375;
  font-size: 1rem;
  margin: auto;
}

.weather-second .temp_info .middle_layer .main_layer {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: #313375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.weather-second .temp_info .middle_layer .left {
  background-color: #313375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  margin-left: 3rem;
}

.weather-second .temp_info .middle_layer .left sup {
  background-color: #313375;
}

.weather-second .temp_info .middle_layer .right {
  background-color: #313375;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.weather-second .temp_info .middle_layer .right #pressure {
  background-color: #313375;
}

.weather-second .temp_info .middle_layer .right #humidity {
  background-color: #313375;
}

.weather-second .temp_info .middle_layer .right #feelsLike {
  background-color: #313375;
}

.weather-second .temp_info .middle_layer #temp {
  background-color: #313375;
  color: #ffc938;
  font-size: 2rem;
}

.weather-second .temp_info .middle_layer .temp {
  background-color: #313375;
  color: #ffc938;
  font-size: 2rem;
}

.weather-second .temp_info .middle_layer .temp_status {
  background-color: #313375;
  margin-left: 1rem;
  font-size: 2rem;
}

.data-hide {
  visibility: hidden;
}

.ranchi {
  background-color: #313375;
  margin-left: 3rem;
}

.bg {
  background-color: #313375;
}
/*# sourceMappingURL=style.css.map */